# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# MLflow
mlruns/
mlflow.db

# DVC plots
dvc_plots/

# Models (ignore all except production pickle)
models/*
!models/rf_model.pkl

# Data (DVC tracked, not Git)
data/

# Reports (DVC tracked)
reports/

# OS
Thumbs.db
.DS_Store
